
body {
  margin: 0px;
  padding: 0;
  height: auto;
  text-align: center;
  background-color: #f5e9db;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

header {
  height: auto;
}
.item {
  margin: 0px 20px 0px 20px;
  font-weight: bold;
  color: gray;
}
.gratuite {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
  /* color: #e6782f; */
  font-style: oblique;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar {
  background-color: #e7d4cf;
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px gray;
  height: auto;
}
.logo-bijoux {
  color: #cfa340;
  height: auto;
  /* padding-left: 30px;
  padding-right: 30px; */
  background-color: #513e35;
  margin: 0px 20px 0px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px gray;
}
.logobar {
  /* position: sticky; */

  top: 0px;
  margin: 0px;
  padding: 0px;
}

.connecte {
  color: black;
  text-decoration: none;
}

.conn li {
  list-style: none;
}

.bsearch {
  margin: 0px 5px;
  font-size: 1.5rem;
  color: gray;
}
span a {
  text-decoration: none;
}
span a:hover {
  color: grey;
}

.bpanier {
  margin: 0px 5px;
  font-size: 1.5rem;
  color: gray;
}

.bmenu {
  color: black;
}

.divmenu {
  background-color: #e7d4cf;

  text-align: start;
  margin: 10px 0px 0px 20px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 40px gray;
}

.sc a {
  color: black;
}
.sc {
  margin-left: 100px;
}
.bBijoux {
  width: 15px;
  background-color: #e7d4cf;
}
video {
  border-radius: 10px;
  box-shadow: 0px 0px 40px gray;
  width: 310px;
  height: 310px;
  padding: 5px;
  margin: 10px;
}
.bar {
  margin: 10px 50px;
  text-decoration: none;
  color: #000;
}
.bpanier span {
  color: #000;
  font-size: 1rem;
}
.imgcarosel {
  border-radius: 40px;
  width: auto;
  height: auto;
}
.divcarosel h5 a {
  background-color: #000;
  text-decoration: none;
  color: #cfa340;
  border-radius: 200px;
  padding: 10px 20px;
}
.divcarosel h5 a:hover {
  color: #cfa340;
}
h5 a:hover {
  color: #000;
}
.divcarousel {
  border-radius: 40px;
}
.logo-bijoux {
  color: #cfa340;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #513e35;
  margin: 10px 20px 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px gray;
}
.logo-bijoux a {
  text-decoration: none;
  color: #cfa340;
}
.livraison {
  font-size: medium;
  color: #e6782f;
  font-style: oblique;
  margin: 80px 10px 80px 10px;
}
.livrai {
  padding-top: 15px;
}
.paiement {
  padding-top: 15px;
}
.Échanges {
  padding-top: 15px;
}
.coeur {
  font-style: oblique;
  font-size: 1.2;
  /* font-weight: bold; */
  margin: 0px;
  color: gray;
  /* text-shadow: gray 0px 0px 2px;*/
}
#prixtotal {
  margin-left: 2px;
  color: gray;
  font-size: 1rem;
}
/* ............... page 2 css.......... */
fieldset {
  color: #000;
  background-color: #fff;
  margin: 50px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px gray;
}
button {
  border: 0px;
  background-color: #fff;
}

#photo2 {
  z-index: 2;
  margin-top: -350px;

  height: 100%;
  width: 100%;
  padding-top: 0px;
}
#photo1 {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.f1 {
  background-size: 100% 100%;
}
#photo2 {
  visibility: hidden;
}

.f1:hover #photo2 {
  visibility: visible;
}
#voirplus {
  visibility: hidden;
  margin-bottom: 5px;
}
.non a:hover #voirplus {
  visibility: visible;
}
.non a {
  color: gray;
  text-decoration: none;
}
.non a:hover {
  color: gray;
}
article img {
  border-radius: 10px;
}
article {
  align-items: center;
}
.divfieldset {
  padding: 20px;
}

.ajouter {
  color: gray;
}
.ajouter :hover {
  color: gray;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
  background-color: #fff;
  color: gray;
  height: auto;
  margin: 0px 20px 20px 20px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px grey;
}
.condition a {
  color: gray;
  text-decoration: none;
}
.condition {
  height: 200px;
}
.foot {
  padding-top: 50px;
  padding-bottom: 50px;
}
.newsletter {
  padding: 50px 0;
}

.newsletter .content {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.newsletter .content h2 {
  color: gray;
  margin-bottom: 20px;
}
.newsletter .content .form-control {
  height: 50px;
  font-size: 12px;

  background-color: rgba(128, 128, 128, 0.548);
  border-radius: 5px;
}
.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid gray;
}
.newsletter .content .btn {
  min-height: 50px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-weight: 600;
}

#notification {
  z-index: 2;
  background-color: #cfa340;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  margin-top: -2px;
  margin-left: -13px;
}
