
body {
  margin: 0px;
  padding: 0;
  height: auto;
  text-align: center;
  background-color: #f5e9db;
  font-family: "Times New Roman", Times, serif;
  color: black;
}




/* ............... page 2 css.......... */






/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



